In [1]:
import pandas as pd

# 1. Data Preparation
## 1.1 Import Data

In [2]:
df = pd.read_csv('2018_Financial_Data.csv')
df.rename(columns={"Unnamed: 0": 'Symbol'}, inplace=True)
df.rename(columns={"2019 PRICE VAR [%]": 'PRICE VAR [%]'}, inplace=True)
df

,Symbol,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,Interest Expense,...,Receivables growth,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Sector,PRICE VAR [%],Class
0,CMCSA,9.450700e+10,0.1115,0.000000e+00,9.450700e+10,0.000000e+00,6.482200e+10,7.549800e+10,1.900900e+10,3.542000e+09,...,0.2570,0.0000,0.3426,0.0722,0.7309,0.0000,0.1308,Consumer Cyclical,32.794573,1
1,KMI,1.414400e+10,0.0320,7.288000e+09,6.856000e+09,0.000000e+00,6.010000e+08,3.062000e+09,3.794000e+09,1.917000e+09,...,0.0345,-0.0920,-0.0024,0.0076,-0.0137,0.0000,-0.1265,Energy,40.588068,1
2,INTC,7.084800e+10,0.1289,2.711100e+10,4.373700e+10,1.354300e+10,6.750000e+09,2.042100e+10,2.331600e+10,-1.260000e+08,...,0.1989,0.0387,0.0382,0.1014,-0.0169,0.0390,-0.0942,Technology,30.295514,1
3,MU,3.039100e+10,0.4955,1.250000e+10,1.789100e+10,2.141000e+09,8.130000e+08,2.897000e+09,1.499400e+10,3.420000e+08,...,0.4573,0.1511,0.2275,0.6395,-0.5841,0.1738,0.0942,Technology,64.213737,1
4,GE,1.216150e+11,0.0285,9.546100e+10,2.615400e+10,0.000000e+00,1.811100e+10,4.071100e+10,-1.455700e+10,5.059000e+09,...,-0.2781,-0.2892,-0.1575,-0.4487,-0.2297,0.0000,0.0308,Industrials,44.757840,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4387,YRIV,0.000000e+00,0.0000,0.000000e+00,0.000000e+00,0.000000e+00,3.755251e+06,3.755251e+06,-3.755251e+06,1.105849e+07,...,0.0000,0.0000,-0.0508,-0.1409,-0.0152,0.0000,-0.2602,Real Estate,-90.962099,0
4388,YTEN,5.560000e+05,-0.4110,0.000000e+00,5.560000e+05,4.759000e+06,5.071000e+06,9.830000e+06,-9.274000e+06,0.000000e+00,...,0.3445,0.0000,-0.2323,-0.8602,0.0000,0.0352,-0.0993,Basic Materials,-77.922077,0
4389,ZKIN,5.488438e+07,0.2210,3.659379e+07,1.829059e+07,1.652633e+06,7.020320e+06,8.672953e+06,9.617636e+06,1.239170e+06,...,0.1605,0.7706,0.2489,0.4074,-0.0968,0.2415,0.8987,Basic Materials,-17.834400,0
4390,ZOM,0.000000e+00,0.0000,0.000000e+00,0.000000e+00,1.031715e+07,4.521349e+06,1.664863e+07,-1.664863e+07,0.000000e+00,...,0.8980,0.0000,0.1568,-0.2200,0.0000,2.7499,0.1457,Industrials,-73.520000,0
4391,ZYME,5.301900e+07,0.0243,0.000000e+00,5.301900e+07,5.668400e+07,2.945700e+07,8.614600e+07,-3.312700e+07,1.660000e+05,...,-0.4185,0.0000,0.8519,0.1325,0.0000,0.3577,0.5880,Healthcare,209.462222,1

In [3]:
subdf = pd.DataFrame(df[["Revenue", "EBITDA", "Profit Margin", "returnOnEquity", "Book Value per Share", "Operating Cash Flow", "Dividend Yield", "R&D Expenses", "PRICE VAR [%]", "Class", "Sector"]])
subdf

,Revenue,EBITDA,Profit Margin,returnOnEquity,Book Value per Share,Operating Cash Flow,Dividend Yield,R&D Expenses,PRICE VAR [%],Class,Sector
0,9.450700e+10,2.932900e+10,0.124,0.1638,15.741,2.429700e+10,0.0269,0.000000e+00,32.794573,1,Consumer Cyclical
1,1.414400e+10,6.410000e+09,0.105,0.0478,15.198,5.043000e+09,0.0471,0.000000e+00,40.588068,1,Energy
2,7.084800e+10,3.227600e+10,0.297,0.2824,16.171,2.943200e+10,0.0256,1.354300e+10,30.295514,1,Technology
3,3.039100e+10,1.940400e+10,0.465,0.4377,28.033,1.740000e+10,0.0000,2.141000e+09,64.213737,1,Technology
4,1.216150e+11,-8.489000e+09,-0.187,-0.7216,3.562,4.246000e+09,0.0508,0.000000e+00,44.757840,1,Industrials
...,...,...,...,...,...,...,...,...,...,...,...
4387,0.000000e+00,-3.757783e+06,-1.231,-0.0800,0.994,-6.299496e+06,0.0000,0.000000e+00,-90.962099,0,Real Estate
4388,5.560000e+05,-8.974000e+06,-16.493,-1.6093,0.574,-8.754000e+06,0.0000,4.759000e+06,-77.922077,0,Basic Materials
4389,5.488438e+07,1.006324e+07,0.128,0.1895,2.722,-2.234995e+06,0.0000,1.652633e+06,-17.834400,0,Basic Materials
4390,0.000000e+00,-1.644192e+07,NaN,-4.5523,0.039,-1.114753e+07,0.0000,1.031715e+07,-73.520000,0,Industrials
4391,5.301900e+07,-3.058900e+07,-0.689,-0.2025,6.205,2.417700e+07,0.0000,5.668400e+07,209.462222,1,Healthcare

## 1.2 Check Missing Values

In [4]:
total_size = len(subdf)
for factor in subdf.columns:
    nan_count = len(subdf[factor].loc[subdf[factor].isna()])
    print(f'{factor} {round(100 * nan_count / total_size, 2)}%')

Revenue 1.05%
EBITDA 4.17%
Profit Margin 6.97%
returnOnEquity 5.83%
Book Value per Share 5.74%
Operating Cash Flow 1.32%
Dividend Yield 5.71%
R&D Expenses 5.4%
PRICE VAR [%] 0.0%
Class 0.0%
Sector 0.0%

## 1.3 Replace Missing Values with Median

In [5]:
# Sector, Class (last 2 columns) is Categorical
for factor in subdf.columns[0:-2]:
    subdf[factor].fillna(df[factor].median(), inplace=True)

## 1.4 Remove outliers

In [6]:
filtered_cols = []

for factor in subdf.columns[0:-2]:
    q1 = subdf[factor].quantile(0.25)
    q3 = subdf[factor].quantile(0.75)
    iqr = q3-q1
    filtered_cols.append(subdf[factor].loc[(subdf[factor] >= (q1 - 1.5 * iqr)) & (subdf[factor] <= (q3 + 1.5 * iqr))])

# remove stock if it is an outlier in one or more columns
filtered_subdf = pd.concat(filtered_cols, axis=1, join='inner')
filtered_subdf = pd.concat([filtered_subdf, subdf[['Class', 'Sector']]], axis=1, join='inner')

filtered_subdf

,Revenue,EBITDA,Profit Margin,returnOnEquity,Book Value per Share,Operating Cash Flow,Dividend Yield,R&D Expenses,PRICE VAR [%],Class,Sector
43,2.636746e+09,103792000.0,-0.004,-0.02910,0.673,190855000.0,0.0000,0.0,-26.687113,0,Technology
73,5.361960e+09,853769000.0,0.073,-0.25870,-8.191,523610000.0,0.0000,0.0,-42.583392,0,Consumer Cyclical
89,1.798500e+09,412100000.0,-0.158,-0.07130,4.204,404200000.0,0.0085,13000000.0,66.143385,1,Basic Materials
100,5.816440e+08,479440000.0,0.284,0.17450,4.448,427656000.0,0.0000,29000.0,-9.197867,0,Energy
109,1.589000e+09,84532000.0,0.044,0.07485,9.939,303107000.0,0.0000,0.0,100.552499,1,Basic Materials
...,...,...,...,...,...,...,...,...,...,...,...
4381,6.966000e+06,3331000.0,0.305,0.06250,18.620,4573000.0,0.0193,0.0,11.671183,1,Financial Services
4382,2.307974e+07,6089738.0,0.080,0.06010,9.580,2302113.0,0.0000,0.0,-3.076927,0,Consumer Defensive
4385,3.546600e+07,5710000.0,0.031,0.01090,5.464,6593000.0,0.0000,0.0,27.118650,1,Consumer Cyclical
4386,0.000000e+00,2986000.0,0.044,0.35880,1.618,-816000.0,0.0000,38000.0,-22.159090,0,Healthcare
4389,5.488438e+07,10063235.0,0.128,0.18950,2.722,-2234995.0,0.0000,1652633.0,-17.834400,0,Basic Materials

## 1.5 Save Filtered Dataframe

In [7]:
# filtered_subdf.to_csv('2018_filtered.csv', index=False)